body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

header {
    background-color: #ff6f69;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.header-image {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 10px auto;
}

main {
    padding: 20px;
}

.location-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.location-images img {
    max-width: 150px;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    border-bottom: 2px solid #ff6f69;
    padding-bottom: 5px;
    color: #ff6f69;
}

.course-schedule {
    margin-bottom: 20px;
}

.course-schedule h3 {
    margin: 10px 0;
    font-size: 1.3em;
    color: #333;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
}

.schedule-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.schedule-day {
    font-weight: bold;
    background-color: #f9f9f9;
}

.schedule-time {
    background-color: #f0f0f0;
}

.schedule-time div {
    margin: 0;
    padding: 0;
}

.course-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.course-images img {
    max-width: 150px;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

footer {
    background-color: #ff6f69;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}